[submodule "deps/Unity"]
	path = deps/Unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "deps/clang-format-hooks"]
	path = deps/clang-format-hooks
	url = https://github.com/barisione/clang-format-hooks
