name: Memory Leak Check

on: push

jobs:
  heapcheck-solve:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: recursive

      - name: Install google-perftools
        run: sudo apt-get update && sudo apt-get install -y google-perftools libgoogle-perftools-dev

      - name: Build with gperftools
        run: make gperftools

      - name: Heap Check Solve
        run: HEAPCHECK=normal ./cubotron --solve DUDUUUDBUFRFRRBRDUBLLUFDUBFBDDFDLUFFRBLFLFBRRLLBRBDRLL --max-depth=21 --n-solutions=5

  heapcheck-solve-blacklist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: recursive

      - name: Install google-perftools
        run: sudo apt-get update && sudo apt-get install -y google-perftools libgoogle-perftools-dev

      - name: Build with gperftools
        run: make gperftools

      - name: Heap Check Solve with Blacklist
        run: HEAPCHECK=normal ./cubotron --solve DUDUUUDBUFRFRRBRDUBLLUFDUBFBDDFDLUFFRBLFLFBRRLLBRBDRLL --max-depth=27 --n-solutions=5 --move-blacklist='U U2 U'

  heapcheck-benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: recursive

      - name: Install google-perftools
        run: sudo apt-get update && sudo apt-get install -y google-perftools libgoogle-perftools-dev

      - name: Build with gperftools
        run: make gperftools

      - name: Heap Check Benchmark
        run: HEAPCHECK=normal ./cubotron --benchmark-fast
