name: Linters

on: push

jobs:
  cpplint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: true

      - name: Install cpplint
        run: pip install cpplint

      - name: Run cpplint
        run: cpplint --filter=-build/include_subdir,-readability/nolint,-whitespace/line_length,-whitespace/comments,-readability/casting,-build/header_guard,-runtime/arrays src/*.c

  cppcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: true

      - name: Install cppcheck
        run: sudo apt-get update && sudo apt-get install -y cppcheck

      - name: Run cppcheck
        run: cppcheck --enable=all --suppress=unusedFunction --suppress=missingIncludeSystem --suppress=staticFunction --suppress=nullPointerOutOfMemory --suppress=nullPointerOutOfResources --suppress=constParameterCallback --suppress=normalCheckLevelMaxBranches --suppress=unmatchedSuppression --std=c11 --language=c --error-exitcode=1 src/*.c

  clang-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: true

      - name: Install clang-format
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format-20

      - name: Run clang-format check
        run: ./format.sh --check
