name: Benchmarks Test

on: push

jobs:
  benchmark:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: true

      - name: Build
        run: make

      - name: Rebuild tables if needed
        run: '[ -d cache ] || ./cubotron --rebuild-tables'

      - name: Run benchmarks
        run: ./cubotron --benchmark-fast
